@(clientForm: Form[Client])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {

    <h1>Add a client</h1>

    @form(routes.Clients.save()) {

        <fieldset>

            @inputText(clientForm("name"), '_label -> "Client name")
            @inputText(clientForm("siret"), '_label -> "Siret")
            @inputText(clientForm("address"), '_label -> "Address")

        </fieldset>

        <div class="actions">
            <input type="submit" value="Create this client" class="btn primary">
        </div>

    }

}