@(id: Long, clientForm: Form[Client])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {

    <h1>Edit client</h1>

    @form(routes.Clients.update(id)) {

        <fieldset>

            @inputText(clientForm("name"), '_label -> "Facture name")
            @inputText(clientForm("siret"), '_label -> "siret")
            @inputText(clientForm("address"), '_label -> "address")

        </fieldset>

        <div class="actions">
            <input type="submit" value="Save this client" class="btn primary">
        </div>

    }

    @form(routes.Clients.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this client" class="btn danger">
    }

}
