@(factureForm: Form[Facture])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {

    <h1>Add a facture</h1>

<div style="float:right;" id="external">aaaa</div>


    @form(routes.Factures.save()) {

        <fieldset>

            @inputText(factureForm("name"), '_label -> "facture name")
            @inputDate(factureForm("introduced"), '_label -> "Introduced date")
            @inputDate(factureForm("discontinued"), '_label -> "Discontinued date")
            @inputDate(factureForm("payment"), '_label -> "payment date")

            @select(
                factureForm("client"),
                Client.options,
                '_label -> "Client", '_default -> "-- Choose a client --",
                '_showConstraints -> false
            )
            <a class="btn success" id="ajax_add" href="@routes.Clients.create()">+</a>

            @select(
                factureForm("statut"),
                Statut.options,
                '_label -> "Statut", '_default -> "-- Choose a statut --",
                '_showConstraints -> false
            )


        </fieldset>

        <div class="actions">
            <input type="submit" value="Create this facture" class="btn primary"> or
            <a href="@routes.Factures.list()" class="btn">Cancel</a>
        </div>

    }



}