@(id: Long, factureForm: Form[Facture])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {

    <h1>Edit facture</h1>

    @form(routes.Factures.update(id)) {

        <fieldset>

            @inputText(factureForm("name"), '_label -> "Facture name")
            @inputDate(factureForm("introduced"), '_label -> "Introduced date")
            @inputDate(factureForm("discontinued"), '_label -> "Discontinued date")
            @inputDate(factureForm("payment"), '_label -> "Payment date")

            @select(
                factureForm("client"),
                Client.options,
                '_label -> "Client", '_default -> "-- Choose a client --",
                '_showConstraints -> false
            )
            <a class="btn success" id="add" href="@routes.Clients.create()">+</a>

            @select(
                factureForm("statut"),
                Statut.options,
                '_label -> "Statut", '_default -> "-- Choose a statut --",
                '_showConstraints -> false
            )
            <a class="btn success" id="add" href="@routes.Factures.create()">+</a>

        </fieldset>

        <div class="actions">
            <input type="submit" value="Save this facture" class="btn primary"> or
            <a href="@routes.Factures.list()" class="btn">Cancel</a>
        </div>

    }

    @form(routes.Factures.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this facture" class="btn danger">
    }

}
