@(currentPage: Page[(Facture, Option[Client])], currentOrderBy: Int, currentFilter: String)(implicit flash: play.api.mvc.Flash)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.Factures.list(newPage, newOrderBy.map { orderBy =>
        if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy), currentFilter)

}

@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
    <th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, Some(orderBy))">@title</a>
    </th>
}

@main {

    <h1>@Messages("factures.list.title", currentPage.total)</h1>

    @flash.get("success").map { message =>
        <div class="alert-message warning">
            <strong>Effectué !</strong> @message
        </div>
    }

    <div id="actions">

        @helper.form(action=routes.Factures.list()) {
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="@Messages("factures.list.filter")">
            <input type="submit" id="searchsubmit" value="@Messages("general.filter")" class="btn primary">
        }

        <a class="btn success" id="add" href="@routes.Factures.create()">@Messages("factures.list.add")</a>

    </div>

    @Option(currentPage.items).filterNot(_.isEmpty).map { factures =>

        <table class="factures zebra-striped">
            <thead>
                <tr>
                    @header(2, Messages("factures.name"))
                    @header(3, Messages("factures.number"))
                    @header(4, Messages("factures.introduced"))
                    @header(5, Messages("factures.discontinued"))
                    @header(6, Messages("factures.client"))
                </tr>
            </thead>
            <tbody>

                @factures.map {
                    case (facture, client) => {
                        <tr>
                            <td><a href="@routes.Factures.edit(facture.id.get)">@facture.name</a></td>
                            <td>@facture.number</td>
                            <td>
                                @facture.introduced.map(_.format("dd MMM yyyy")).getOrElse { <em>-</em> }
                            </td>
                            <td>
                                @facture.discontinued.map(_.format("dd MMM yyyy")).getOrElse { <em>-</em> }
                            </td>
                            <td>
                                @client.map(_.name).getOrElse { <em>-</em> }
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @currentPage.prev.map { page =>
                    <li class="prev">
                        <a href="@link(page)">&larr; Previous</a>
                    </li>
                }.getOrElse {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + factures.size) of @currentPage.total</a>
                </li>
                @currentPage.next.map { page =>
                    <li class="next">
                        <a href="@link(page)">Next &rarr;</a>
                    </li>
                }.getOrElse {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>

    }.getOrElse {

        <div class="well">
            <em>Nothing to display</em>
        </div>

    }


}

